<?xml version="1.0" ?>
<robot name="vdcar" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find vdcar)/urdf/common_properties.xacro"/>
  <!--xacro:include filename="$(find turtlebot3_description)/urdf/turtlebot3_waffle2d.gazebo.xacro"/-->

  <xacro:property name="r200_cam_rgb_px" value="0.005"/>
  <xacro:property name="r200_cam_rgb_py" value="0.018"/>
  <xacro:property name="r200_cam_rgb_pz" value="0.013"/>
  <xacro:property name="r200_cam_depth_offset" value="0.01"/>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0.12065" rpy="0 0 0"/>
  </joint>

  <link name="base_link" />
  
<!--sure-->
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0583 -0.0434 0.2123" rpy="0 0 0"/>
    <axis xyz="0 0 1" />
  </joint>

  <link name="imu_link"/>
<!--sure-->  

<!--sure-->
  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0.05 -0.003244 0.2123" rpy="0 0 0"/>
  </joint>

  <link name="gps_link"/>
<!--sure-->

  <joint name="velodyne_joint" type="fixed">
    <parent link="base_link"/>
    <child link="velodyne"/>
    <origin xyz="0.355 0 0.9188017" rpy="0 0 0"/>
    <axis xyz="0 0 1" />
  </joint>

  <link name="velodyne"/>

  <joint name="livox_joint" type="fixed">
    <parent link="base_link"/>
    <child link="livox"/>
    <origin xyz="0.858 0 0.348" rpy="0 0 0.05"/>
    <axis xyz="0 0 1" />
  </joint>

  <link name="livox"/>

    <joint name="livox_2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="livox_2"/>
    <origin xyz="-0.148 0 0.348" rpy="0 0 3.1415926"/>
    <axis xyz="0 0 1" />
  </joint>

  <link name="livox_2"/>
  
</robot>
