<?xml version="1.0"?>
<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find learning_veddha)/config/costmap_common_params.yaml"    command="load" ns="global_costmap" />
    <rosparam file="$(find learning_veddha)/config/costmap_common_params.yaml"    command="load" ns="local_costmap" />
    <rosparam file="$(find learning_veddha)/config/global_costmap_params.yaml"    command="load" />
    <rosparam file="$(find learning_veddha)/config/local_costmap_params.yaml"     command="load" />
    
    <rosparam file="$(find learning_veddha)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find learning_veddha)/config/costmap_converter_params.yaml" command="load" />


    <!--param name="base_global_planner" value="global_planner/VdGlobalPlanner"/>-->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="planner_frequency" value="0.0" />
    <param name="planner_patience" value="5.0" />
    <!--param name="use_dijkstra" value="false" /-->

    <!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="4.0" />
    <param name="controller_patience" value="10.0" />

    <!--param name="clearing_rotation_allowed" value="false" /-->
  </node>
  
</launch>
